<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.project.mosis.buymeadrink"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- android:name=".Application.MyAplication" -->
    <application
        android:name=".Application.MyAplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".LogInActivity"
            android:label="LogIn"/>
        <activity
            android:name=".RegisterActivity"
            android:label="Register"/>
        <activity
            android:name=".UserProfileActivity"
            android:label="My Profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity android:name=".UsersRankActivity"
            android:label="Users rank list"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"/>
        <activity
            android:name=".BluetoothActivity"
            android:theme="@style/AppTheme"/>

        <!-- Mape -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAbOkHjt6U89GQKpkHNf5HHj3wqWlBBQ4Y"/>

        <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true"/>
        <!-- AIzaSyAbOkHjt6U89GQKpkHNf5HHj3wqWlBBQ4Y -->

        <service
            android:name=".Service.LocationService"
            android:process=":LocationReport"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>

</manifest>